@import "bootstrap";

/* universal */
html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
div.hero-unit a {
  color:#ffffff;
}
/* typography */
p.logged_in_user {
  margin-top: 6px;
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}
p{
font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;  
}

#logo > div {
  display: inline-block;
}

.navbar, .navbar-fixed-top, .navbar-inverse {
  max-height: 70px !important;
}

#navbar > li {
  display: inline-block;
  color: white;
  a:hover {
    color: white;
    text-decoration: underline;    
  }
}

#logo:visited {
  color: white;
  text-decoration: none;
}

#logo:hover {
  color: white;
  text-decoration: none;
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #999;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}

/* misc */
table {
  max-height: 100%;
  width: 100%;
  table-layout: fixed;
  border: 3px solid black;
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
}

tbody {
  max-height: 240px !important;
  overflow-y: auto;
}

thead {
  /* fallback */
}

td {
  text-align: center;
}

form {
    margin: 20px auto;
    width: 420px;
}
.form-row {
    padding: 5px 10px;
}
label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    padding: 3px 1px;
    width: 100%;
}
input.currency {
    text-align: right;
    padding-right: 15px;
}
.input-group .form-control {
    float: none;
}
.input-group .input-buttons {
    position: relative;
    z-index: 3;
}

thead tr {
  background-color: #FFD700;
  border: 1pt solid black;
}

#map-container {
   height: 600px;
   width: 100%;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   margin-right: 5%;
   border-width: 7px;
 }
 #map-canvas {
   height: 100%;
   width: 100%;
   background-color: blue;
 }

#nav-buttons > li {
  display: inline-block;
}

#signin > label, input {
  display: inline-block;
  margin: 1%;
}

.signinPic {
  display: block;
  max-height: 40%;
  max-width: 40%;
  border-radius: 25px;
}

.btn, .btn-secondary {
  display: inline-block;
  margin-top: 6px;
}

#hide > img {
  float: right;
  height: 15px !important;
  width: 15px !important;
  display: inline;
}

#show > img {
  float: right;
  height: 15px !important;
  width: 15px !important;
  display: none;
}

#links > a {
  display: inline-block;
}

.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }